<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto" *ngIf="currentUser$|async">
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/categories/index" routerLinkActive="active">Categorías</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin/products/index" routerLinkActive="active">Productos</a>
            </li>
        </ul>

        <div class="dropdown" *ngIf="currentUser$|async" dropdown>
            <a class="dropdown-toggle text-decoration-none text-light" dropdownToggle>Welcome User</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
                <a class="dropdown-item">Edit Profile</a>
                <a class="dropdown-item" (click)="goToDashboard()">Dashboard</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>
            </div>
        </div>

        <div class="d-flex" *ngIf="!(currentUser$|async)">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>